{% set form = hookable_metadata.context.form %}

{% if form.gatewayConfig.config is defined %}
    <div class="col-12 col-md-6">
        {{ form_row(form.gatewayConfig.config.shop_id) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.gatewayConfig.config.public_key) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.gatewayConfig.config.secret_key) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.gatewayConfig.config.webhook_secret) }}
    </div>
    <div class="col-12 col-md-6">
        {{ form_row(form.gatewayConfig.config.environment_mode) }}
    </div>
{% endif %}
